@model List<ManagementSystemVersionTwo.Models.Worker>
@{
    ViewBag.Title = "WorkerPaymentHistory";
}
<div>
    @using (Html.BeginForm())
    {
        <div class="row">
            <p style=" padding: 6px; margin-top: 8px; margin-right: 16px; border: none; font-size: 14px;" class="col-sm-3">
                Search Employee:@Html.TextBox("searchName", "", new { list = "browsers", @class = "" })

                <datalist id="browsers">
                    @foreach (var item in ViewBag.Names)
                    {
                        <option value="@item" />
                    }
                </datalist>
            </p>
            <p style=" padding: 6px; margin-top: 8px; margin-right: 16px; border: none; font-size: 14px;" class="col-sm-3">
                Order By : @Html.DropDownList("orderBy", new SelectList(ViewBag.SortSalary, "Value", "Text"), "None", new { @class = "" })
            </p>
            <p class="col-md-1">
                <input class="btn-inverse-info btn-fw" type="submit" value="Search" />
                @Html.ActionLink("Reset", "WorkerPaymentHistory", "Payment", new { @class = "fa fa-refresh" })
            </p>
        </div>
    }
</div>
<div class="row">
    @foreach (var wo in Model)
    {
        <div class="card col-md-4" style="width: 18rem; padding:0px; border:ridge">
            <div class="card-body" style="">
                <h5 class="card-title">@wo.FullName</h5>
                <table style="display: flex; justify-content: center; align-items: center;">
                    <tr>
                        <td style="padding:8px; font-size:15px;">Amount</td>
                        <td style="padding:8px; font-size:15px;">Date</td>
                    </tr>
                    @foreach (var payment in wo.Payments)
                    {
                        <tr>
                            <td style="padding:8px; font-size:15px;">@payment.Amount</td>
                            <td style="padding:8px; font-size:15px;">@payment.Date.Date.ToString("yyyy-MM-dd")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }
</div>