@model ManagementSystemVersionTwo.ViewModels.CreateProjectViewModel
@{
    ViewBag.Title = "CreateProject";


}

<h2>CreateProject</h2>
@using (Html.BeginForm("CreateProject", "Project", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <span class="form-control">Title</span>
    @Html.TextBoxFor(p => p.Project.Title, new { @class = "" })
    @Html.ValidationMessageFor(p => p.Project.Title, "", new { @class = "" })
    <span class="form-control">Description</span>
    @Html.TextAreaFor(p => p.Project.Description, new { @class = "" })
    @Html.ValidationMessageFor(p => p.Project.Description, "", new { @class = "" })
    <span class="form-control">Start Date</span>
    @Html.EditorFor(p => p.Project.StartDate, new { @class = "" })
    @Html.ValidationMessageFor(p => p.Project.StartDate, "", new { @class = "" })
    <span class="form-control">End Date</span>
    @Html.EditorFor(p => p.Project.EndDate, new { @class = "" })
    @Html.ValidationMessageFor(p => p.Project.EndDate, "", new { @class = "" })
   
     for(int i = 0; i<Model.Users.Count; i++) {
        @Html.HiddenFor(p => Model.Users[i].ID)
        @Html.CheckBoxFor(p => Model.Users[i].IsSelected) @Html.DisplayFor(p => Model.Users[i].Fullname)
        }
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}

