@model ManagementSystemVersionTwo.ViewModels.CreateProjectViewModel
@{
    ViewBag.Title = "EditProject";
}

<h2>EditProject</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(s=>s.Project.ID)
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Project.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Project.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Project.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Project.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Project.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Project.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Project.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Project.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Project.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            @for (int i = 0; i < Model.Users.Count; i++)
            {
            <div class="col-md-2">
                @Html.HiddenFor(m => m.Users[i].ID)
                @if (Model.Users[i].IsSelected == true)
                {
                    @Html.CheckBoxFor(m => m.Users[i].IsSelected, new { @checked = "checked" })
                }
                else
                {
                    @Html.CheckBoxFor(m => m.Users[i].IsSelected)
                }
                @Html.DisplayFor(m => m.Users[i].Fullname)
                @Html.DisplayFor(m => m.Users[i].CV)
            </div>
            }

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewAllProjects", "Display")
</div>