@model ManagementSystemVersionTwo.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Add Phone Number";
    Layout = null;
}
@Styles.Render("~/Content/materialdesignicons.min.css")
@Styles.Render("~/Content/style.css")
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-image:url(../../EIKONES/login_1.jpg)" class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="auto-form-wrapper">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id, new { value = ViewBag.User })
                            @ViewBag.Error
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <h3 class="views-headings">Register Process</h3>
                            <p class="views-comments">Add Your Phone Number</p>
                            <div style="padding:30px" class="text-center">

                                <h2> @Html.TextBoxFor(m => m.Number, new { @class = "form-control" }) </h2>
                            </div>
                            <div style="padding-bottom:30px" class="form-group">
                                <input type="submit" class="btn btn-primary submit-btn btn-block" value="Submit" />
                            </div>
                        </div>
                        <p class="footer-text text-center">Copyright © 2021 Xenocrates. All rights reserved.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/off-canvas.js")
    @Scripts.Render("~/Scripts/jquery.cookie.js")
}