@model ManagementSystemVersionTwo.Models.Department
@{
    ViewBag.Title = "CreateDepartment";
}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="col-lg-6 grid-margin stretch-card">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div style="margin:auto;" class="card">
                    <div class="card-body create-department">
                        <h2 class="views-headings">New Department</h2>
                        <p class="views-comments">Adding a new department to the company.</p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <form class="form-sample">
                            <h4 class="card-description"> Department Info </h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="justify-content: center;" class="row col-md-12">
                                <button type="submit" class="btn btn-success mr-2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>