@model ManagementSystemVersionTwo.Models.Department
@{
    ViewBag.Title = "DeleteDepartment";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="col-lg-6 grid-margin stretch-card">
            <div style="margin: auto;" class="card">
                <div class="card-body">
                    <h3 class="views-headings">Delete Department</h3>
                    <p class="views-comments">Are you sure you want to delete the department of @Model.City?</p>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            @Html.HiddenFor(model => model.ID)
                            <table class="details-departments table table-striped">
                                <thead>
                                    <tr>
                                        <th> City </th>
                                        <th> Adrress </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Html.DisplayFor(model => model.City)</td>
                                        <td>@Html.DisplayFor(model => model.Adress)</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-info btn-fw" />
                                @Html.ActionLink("Return to List", "../Display/ViewAllDepartments")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>