@model ManagementSystemVersionTwo.ViewModels.CreateWorker
@{
    ViewBag.Title = "CreateWorkerForApplicationUser";
}
@Styles.Render("~/Content/navStyle.css")
<h2>CreateWorkerForApplicationUser</h2>
@using (Html.BeginForm("CreateWorkerForApplicationUser", "Worker", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.userID)

    <img src="" alt="Profile Pic" class="" id="pic">
    <div class="user-details">
        <div class="input-box">
            <span class="details">First Name</span>
            @Html.TextBoxFor(m => Model.FirstName, new { placeholder = "Enter your name", @class = "" })
            @Html.ValidationMessageFor(m => Model.FirstName, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">Last Name</span>
            @Html.TextBoxFor(m => Model.LastName, new { placeholder = "Enter your Last name" })
            @Html.ValidationMessageFor(m => Model.LastName, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">Address</span>
            @Html.TextBoxFor(m => Model.Address, new { placeholder = "Enter your Address" })
            @Html.ValidationMessageFor(m => Model.Address, "", new { @class = "text-danger" })
        </div>
        <div class="input-box">
            <span class="details">Back Account</span>
            @Html.TextBoxFor(m => Model.BankAccount, new { placeholder = "Enter your Card Number" })
            @Html.ValidationMessageFor(m => Model.BankAccount, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">Department</span>
            @Html.DropDownListFor(m => Model.IdOfDepartment, new SelectList(Model.AllDepartments, "ID", "City"), "Select Department", new { @class = "form-control" })
        </div>
        <div class="input-box">
            <span class="details">Role</span>
            @Html.DropDownListFor(s => Model.SelectedRole, new SelectList(Model.Roles, "ID", "Name"), "Select Role", new { @class = "form-control" })
        </div>
        <div class="input-box">
            <span class="details">Date of Birth</span>
            @Html.EditorFor(m => Model.DateOfBirth, new { @class = "" })
            @Html.ValidationMessageFor(m => Model.DateOfBirth, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">Salary</span>
            @Html.TextBoxFor(m => Model.Salary, new { placeholder = "Salary" })
            @Html.ValidationMessageFor(m => Model.Salary, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">CV</span>
            @Html.TextBoxFor(m => Model.CV, new { type = "file", accept = "application/pdf" })
            @Html.ValidationMessageFor(m => Model.CV, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">Contract of Employee</span>
            @Html.TextBoxFor(m => Model.ContractOfEmployment, new { type = "file", accept = "application/pdf" })
            @Html.ValidationMessageFor(m => Model.ContractOfEmployment, "", new { @class = "" })
        </div>
        <div class="input-box">
            <span class="details">Profile Picture</span>
            @Html.TextBoxFor(m => Model.ProfilePicture, new { onchange = "ChangePic(this)", type = "file", accept = "image/jpeg" })
            @Html.ValidationMessageFor(m => Model.ProfilePicture, "", new { @class = "" })
        </div>
    </div>
    <div class="gender-details">

        @Html.RadioButtonFor(a => Model.Gender, "Male", new { @class = "", name = "gender", id = "dot-1" })
        @Html.RadioButtonFor(a => Model.Gender, "Female", new { @class = "", name = "gender", id = "dot-2" })
        @Html.ValidationMessageFor(m => Model.Gender, "", new { @class = "" })
        <span class="gender-title">Gender</span>
        <div class="category">
            <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Male</span>
            </label>
            <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Female</span>
            </label>
        </div>
        <div class="col-md-6">
            <div class="sidenav">
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>
        </div>

        <div class="button">
            <input type="submit" value="Register">
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function ChangePic(input) {
            var pic = document.getElementById("pic");
            var temp = pic.src;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    pic.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                pic.src = temp;
            }
        }</script>
}