@model ManagementSystemVersionTwo.ViewModels.CreateWorker
@{
    ViewBag.Title = "CreateWorkerForApplicationUser"; Layout = null;
}
@Styles.Render("~/Content/materialdesignicons.min.css")
@Styles.Render("~/Content/ionicons.css")
@Styles.Render("~/Content/flag-icon.min.css")
@Styles.Render("~/Content/vendor.bundle.base.css")
@Styles.Render("~/Content/vendor.bundle.addons.css")
@Styles.Render("~/Content/style.css")
@Styles.Render("~/Content/style1.css")
@Styles.Render("~/Content/favicon.ico")




<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <a class="navbar-brand brand-logo" href="#">
                <img src="../EIKONES/logo.svg" alt="logo" />
            </a>
            <a class="navbar-brand brand-logo-mini" href="#">
                <img src="../EIKONES/logo-mini.svg" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">

            <ul class="navbar-nav ml-auto">


                <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
                    <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="../EIKONES/face8.jpg" alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="../EIKONES/face8.jpg" alt="Profile image">
                            <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                            <p class="font-weight-light text-muted mb-0">allenmoreno@gmail.com</p>
                        </div>
                        <a class="dropdown-item">My Profile<i class="dropdown-item-icon ti-dashboard"></i></a>
                        <a class="dropdown-item">Messages<i class="dropdown-item-icon ti-comment-alt"></i></a>
                        <a class="dropdown-item">FAQ<i class="dropdown-item-icon ti-help-alt"></i></a>
                        <a class="dropdown-item">Sign Out<i class="dropdown-item-icon ti-power-off"></i></a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="profile-image">
                            <img class="img-xs rounded-circle" src="../EIKONES/face8.jpg" alt="profile image">
                            <div class="dot-indicator bg-success"></div>
                        </div>
                        <div class="text-wrapper">
                            <!--  <p class="profile-name">ViewBag.User</p> -->
                            <p class="designation">Admin</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item nav-category">Admin Menu</li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home" )">
                        <i class="menu-icon typcn typcn-document-text"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ViewAllRoles", "Display" )">
                        <i class="menu-icon typcn typcn-shopping-bag"></i>
                        <span class="menu-title">Roles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ViewAllWorkers" , "Display")">
                        <i class="menu-icon typcn typcn-th-large-outline"></i>
                        <span class="menu-title">Workers</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ViewAllDepartments", "Display" )">
                        <i class="menu-icon typcn typcn-bell"></i>
                        <span class="menu-title">Departments</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="menu-icon typcn typcn-user-outline"></i>
                        <span class="menu-title">Projects</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h2 style="text-align: center;">Add New Person</h2>
                                @using (Html.BeginForm("CreateWorkerForApplicationUser", "Worker", FormMethod.Post, new { enctype = "multipart/form-data", autocomplete = "off" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.userID)
                                    <form class="form-sample">
                                        <h4 class="card-description"> Personal info </h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">First Name</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(m => Model.FirstName, new { placeholder = "Enter your name", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => Model.FirstName, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(m => Model.LastName, new { placeholder = "Enter your Last name", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => Model.LastName, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Gender</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Date of Birth</label>
                                                    <div class="col-sm-9">
                                                        @Html.EditorFor(m => Model.DateOfBirth, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => Model.DateOfBirth, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Address </label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(m => Model.Address, new { placeholder = "Enter your Address", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => Model.Address, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Telephone </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="card-description"> Company </h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Department</label>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownListFor(m => Model.IdOfDepartment, new SelectList(Model.AllDepartments, "ID", "City"), "Select Department", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Role</label>
                                                    <div class="col-sm-9">
                                                        @Html.DropDownListFor(s => Model.SelectedRole, new SelectList(Model.Roles, "ID", "Name"), "Select Role", new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <h4 class="card-description"> Addition Info </h4>
                                        <div class="row">



                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Bank Account</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(m => Model.BankAccount, new { placeholder = "Enter your Card Number", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => Model.BankAccount, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group row">
                                                    <label class="col-sm-3 col-form-label">Salary</label>
                                                    <div class="col-sm-9">
                                                        @Html.TextBoxFor(m => Model.Salary, new { placeholder = "Salary", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => Model.Salary, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>CV</label>
                                                    <input type="file" name="img[]" class="file-upload-default">
                                                    <div class="input-group col-md-12">

                                                        @Html.TextBoxFor(m => Model.CV, new { type = "file", accept = "application/pdf", @class = "form-control file-upload-info" })
                                                        @Html.ValidationMessageFor(m => Model.CV, "", new { @class = "" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Contract of Employement</label>
                                                    <input type="file" name="img[]" class="file-upload-default">
                                                    <div class="input-group col-md-12">
                                                        @Html.TextBoxFor(m => Model.ContractOfEmployment, new { type = "file", accept = "application/pdf", @class = "form-control file-upload-info" })
                                                        @Html.ValidationMessageFor(m => Model.ContractOfEmployment, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Profile Picture</label>
                                                    <input type="file" name="img[]" class="file-upload-default">
                                                    <div class="input-group col-md-12">
                                                        @Html.TextBoxFor(m => Model.ProfilePicture, new { onchange = "ChangePic(this)", type = "file", accept = "image/jpeg", @class = "form-control file-upload-info" })
                                                        @Html.ValidationMessageFor(m => Model.ProfilePicture, "", new { @class = "" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="justify-content: center;" class="row col-md-12">
                                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>

                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="container-fluid clearfix">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Xenocrates 2021</span>

                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/vendor.bundle.base.js")
    @Scripts.Render("~/Scripts/vendor.bundle.addons.js")
    @Scripts.Render("~/Scripts/off-canvas.js")
    @Scripts.Render("~/Scripts/misc.js")
    @Scripts.Render("~/Scripts/jquery.cookie.js")

}