@model ManagementSystemVersionTwo.Models.ApplicationUser
@{
    ViewBag.Title = "Delete Worker";
}

<h2>DeleteWorker</h2>
@using (Html.BeginForm("DeleteWorkerConfirmed","Worker",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>Worker</h4>
        <hr />
        @Html.HiddenFor(model => Model.Id)
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>@Html.DisplayFor(model => model.UserName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Full Name</dt>
        <dd>@Html.DisplayFor(model => model.Worker.FullName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Worker.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Worker.Address)</dd>
        <dt>Date of Birth</dt>
        <dd>@Html.DisplayFor(model => model.Worker.DateOfBirth)</dd>
        <dt>@Html.DisplayNameFor(model => model.Worker.Address)</dt>
        <dd>@Html.DisplayFor(model => model.Worker.Address)</dd>
        <dt>@Html.DisplayNameFor(model => model.Worker.Salary)</dt>
        <dd>@Html.DisplayFor(model => model.Worker.Salary) &euro;</dd>
        <dt>@Html.DisplayNameFor(model => model.Worker.Department)</dt>
        <dd>@Html.DisplayFor(model => model.Worker.Department.City)</dd>
    </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "../Display/ViewAllWorkers")
</div>
