<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Xenocrates</title>
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/materialdesignicons.min.css")
    @Styles.Render("~/Content/ionicons.css")
    @Styles.Render("~/Content/style.css")
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @{ Html.RenderAction("NavbarPartial", "Display");}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
           @{Html.RenderAction("SidebarPartial", "Display");}
            <!-- partial -->
            <div style="background-color: #d7d7d7"; class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Xenocrates 2021</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/off-canvas.js")
</body>
</html>
