@{
    ViewBag.Title = "Confirm Email"; Layout = null;
}
@Styles.Render("~/Content/materialdesignicons.min.css")
@Styles.Render("~/Content/ionicons.css")
@Styles.Render("~/Content/flag-icon.min.css")
@Styles.Render("~/Content/vendor.bundle.base.css")
@Styles.Render("~/Content/vendor.bundle.addons.css")
@Styles.Render("~/Content/style.css")
@Styles.Render("~/Content/style1.css")
@Styles.Render("~/Content/favicon.ico")
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-image:url(../../EIKONES/login_1.jpg)" class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auto-form-wrapper">
                        <p>
                            <h3 class="views-headings">Register Process</h3>
                        <p class="views-comments">Thank you for confirming your email.<br/> In order to proceed please click on the link below to enter your phone number.</p>
                        <div style="padding:30px" class="text-center">
                            <h2> @Html.ActionLink("Add Phone", "AddPhoneNumber", "Manage", new { id = ViewBag.User }, null) </h2>
                        </div>
                    </div>
                    <p class="footer-text text-center">Copyright © 2021 Xenocrates. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/vendor.bundle.base.js")
    @Scripts.Render("~/Scripts/vendor.bundle.addons.js")
    @Scripts.Render("~/Scripts/off-canvas.js")
    @Scripts.Render("~/Scripts/misc.js")
    @Scripts.Render("~/Scripts/jquery.cookie.js")
}