@using ManagementSystemVersionTwo.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in"; Layout = null;
}
@Styles.Render("~/Content/LoginStyle.css")


<div class="navbar">
    <a href="#contact">Contact</a>
    <a href="#about">About Us</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {

                @Html.AntiForgeryToken()
                <div class="col-md-12 user-details">
                    <div class="col-md-6 input-box">
                        @ViewBag.errorMessage
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <span class="details">Username</span>
                        <div class="inputstyle">
                            @Html.TextBoxFor(m => m.Username, new { @class = "", placeholder = "Enter your name" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6 input-box">
                        <span class="details">Password</span>
                        @Html.PasswordFor(m => m.Password, new { @class = "", placeholder = "Enter your password" })

                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-5 button">
                    <div class="buttonalign"></div>
                    <input type="submit" value="Register">
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}