@model ManagementSystemVersionTwo.Models.ApplicationUser

@{
    ViewBag.Title = "DetailsWorker";
}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="col-lg-6 grid-margin stretch-card">
            <div style="margin:auto;" class="card">
                <div class="card-body">
                    <h2 class="views-headings">Worker Details</h2>
                    <p class="views-comments">Here are the details for @Model.Worker.FullName</p>
                    <div class="d-flex justify-content-center">
                        <div class="p-2 bd-highlight">
                            <table style="padding:20px" class="table">
                                <tr>
                                    <td class="thead">Full Name</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Worker.FullName)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Date Of Birth</td>
                                    <td class="identity">@Model.Worker.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                </tr>
                                <tr>
                                    <td class="thead">Department</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Worker.Department.City)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Mobile Phone</td>
                                    <td class="identity">@Html.DisplayFor(w => w.PhoneNumber)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Salary</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Worker.Salary) &euro;</td>
                                </tr>
                                <tr>
                                    <td class="thead">Bank Account</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Worker.BankAccount)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Email</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Email)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Username</td>
                                    <td class="identity">@Html.DisplayFor(w => w.UserName)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Address</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Worker.Address)</td>
                                </tr>
                                <tr>
                                    <td class="thead">Gender</td>
                                    <td class="identity">@Html.DisplayFor(w => w.Worker.Gender)</td>
                                </tr>
                                <tr>
                                    <td class="thead">CV</td>
                                    <td class="identity"><a href="~/CVs/@Model.Worker.CV" target="_blank">CV Details</a></td>
                                </tr>
                                <tr>
                                    <td class="thead">Contract Of Employment</td>
                                    <td class="identity"><a href="~/ContractOfEmployments/@Model.Worker.ContractOfEmployment" target="_blank">Contract Of Employment</a></td>
                                </tr>
                                <tr>
                                    <td class="thead">Projects</td>
                                    <td class="identity">
                                        <dl>
                                            @foreach (var project in Model.Worker.MyProjects)
                                            {
                                                <dd><a href="@Url.Action("DetailsProject","Display",new { id=project.ProjectID})">@project.Project.Title</a></dd>

                                            }
                                        </dl>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="padding-top:80px" class="p-6 bd-highlight">
                            <img src="~/ProfPics/@Model.Worker.Pic" alt="Profile Pic" style="margin: 0 auto; padding:10px; justify-content:center; display: block; margin-left: auto; margin-right: auto; width: 250px; border: 2px solid #d7d7d7; border-radius: 4px;" class="" id="pic">
                        </div>
                    </div>
                    <div class="d-flex flex-row bd-highlight mb-3">
                        @if (ViewBag.Role)
                        {<a class="p-2 bd-highlight">
                                @Html.ActionLink("Edit", "EditWorker", "Worker", new { userID = Model.Id }, new { @class = "btn btn-info btn-fw" })
                            </a>}
                        <a class="p-2 bd-highlight">@Html.ActionLink("Back to List", "ViewAllWorkers", "Display", new { @class = "btn btn-info btn-fw" })</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>