@model List<ManagementSystemVersionTwo.Models.Project>
@{
    ViewBag.Title = "ViewAllProjects";
}
@if (ViewBag.Admin)
{
    
    <br />
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="col-lg-6 grid-margin stretch-card">
                <div style="margin: auto;" class="card">
                    <div class="card-body">
                        <h3 class="views-headings">Projects</h3>
                        <p class="views-comments">Here you can view all Projects in your Department.</p>
                        <hr />
                        <div>
                            @using (Html.BeginForm())
                            {
                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                        <div class="p-2 bd-highlight">
                                            <p>
                                                Search Project by Title:@Html.TextBox("title", "", new { list = "browsers", @class = "uploaded-text" })

                                                <datalist id="browsers">
                                                    @foreach (var item in ViewBag.Names)
                                                    {
                                                        <option value="@item" />
                                                    }
                                                </datalist>
                                            </p>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <p>
                                                Order By : @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "uploaded-text" })
                                            </p>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <p>
                                                Status : @Html.DropDownList("status", new SelectList(ViewBag.StatusOptions, "Value", "Text"), "None", new { @class = "uploaded-text" })
                                            </p>
                                         </div>
                                        <div class="p-2 bd-highlight">
                                            <p>
                                                See Projects in @Html.DropDownList("depID", new SelectList(ViewBag.DepartmentOptions, "Value", "Text"), "All", new { @class = "uploaded-text" }) Departments
                                            </p>
                                        </div>
                                        <div class="p-2 bd-highlight">
                                            <p>
                                                <input class="btn btn-info btn-fw" type="submit" value="Search" />
                                                @Html.ActionLink(" ", "ViewAllProjects", "Display", new { @class = "resbut fa fa-times" })
                                            </p>
                                        </div>
                                </div>
                              }
                            </div>
                        <table class="all-projects table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Workers</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pro in Model)
                                {
                                    <tr>
                                        <td style="overflow:hidden">
                                            @pro.Title
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.Description
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.StartDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.EndDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="overflow:hidden">
                                            @if (pro.Finished)
                                            {
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            }
                                            @if (!pro.Finished && pro.EndDate > DateTime.Now)
                                            {
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            }
                                            @if (!pro.Finished && pro.EndDate < DateTime.Now)
                                            {
                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            @pro.WorkersInMe.Count
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "DetailsProject", "Display", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (ViewBag.Supervisor)
{
    <div>
        <a href="@Url.Action("CreateProject", "Project")" style="font-size: 12px;" class="btn btn-info btn-fw">Add Project</a>
    </div>
    <br />
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="col-lg-6 grid-margin stretch-card">
                <div style="margin: auto;" class="card">
                    <div class="card-body">
                        <h3 class="views-headings">Projects</h3>
                        <p class="views-comments">Here you can view all Projects in your Department.</p>
                        <hr />
                        <div>
                            @using (Html.BeginForm())
                            {
                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            Search Project by Title:@Html.TextBox("title", "", new { list = "browsers", @class = "" })
                                            <datalist id="browsers">
                                                @foreach (var item in ViewBag.Names)
                                                {
                                                    <option value="@item" />
                                                }
                                            </datalist>
                                        </p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            Order By : @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "" })
                                        </p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            Status : @Html.DropDownList("status", new SelectList(ViewBag.StatusOptions, "Value", "Text"), "None", new { @class = "" })
                                        </p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            <input class="btn btn-info btn-fw" type="submit" value="Search" />
                                            @Html.ActionLink(" ", "ViewAllProjects", "Display", new { @class = "resbut fa fa-times" })
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                        <table class="all-projects table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Workers</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pro in Model)
                                {
                                    <tr>
                                        <td style="overflow:hidden">
                                            @pro.Title
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.Description
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.StartDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.EndDate.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="overflow:hidden">
                                            @if (pro.Finished)
                                            {
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            }
                                            @if (!pro.Finished && pro.EndDate > DateTime.Now)
                                            {
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            }
                                            @if (!pro.Finished && pro.EndDate < DateTime.Now)
                                            {
                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            @pro.WorkersInMe.Count
                                        </td>
                                        <td>
                                            @Html.ActionLink("Details", "DetailsProject", "Display", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                                            @Html.ActionLink("Edit", "EditProject", "Project", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                                            @Html.ActionLink("Delete", "DeleteProject", "Project", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
   
    <br />
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="col-lg-6 grid-margin stretch-card">
                <div style="margin: auto;" class="card">
                    <div class="card-body">
                        <h3 class="views-headings">Projects</h3>
                        <p class="views-comments">Here you can view all Projects in your Department.</p>
                        <hr />
                        <div>
                            @using (Html.BeginForm())
                            {
                                <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            Search Project by Title:@Html.TextBox("title", "", new { list = "browsers", @class = "" })
                                            <datalist id="browsers">
                                                @foreach (var item in ViewBag.Names)
                                                {
                                                    <option value="@item" />
                                                }
                                            </datalist>
                                        </p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            Order By : @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "" })
                                        </p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            Status : @Html.DropDownList("status", new SelectList(ViewBag.StatusOptions, "Value", "Text"), "None", new { @class = "" })
                                        </p>
                                    </div>
                                    <div class="p-2 bd-highlight">
                                        <p>
                                            <input class="btn btn-info btn-fw" type="submit" value="Search" />
                                            @Html.ActionLink(" ", "ViewAllProjects", "Display", new { @class = "resbut fa fa-times" })
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                        <table class="all-projects table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Status</th>
                                    <th>Workers</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var pro in Model)
                                {
                                    <tr>
                                        <td style="overflow:hidden">
                                            @pro.Title
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.Description
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.StartDate.Date.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="overflow:hidden">
                                            @pro.EndDate.Date.ToString("dd-MM-yyyy")
                                        </td>
                                        <td style="overflow:hidden">
                                            @if (pro.Finished)
                                            {
                                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                            }
                                            @if (!pro.Finished && pro.EndDate > DateTime.Now)
                                            {
                                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            }
                                            @if (!pro.Finished && pro.EndDate < DateTime.Now)
                                            {
                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            }
                                        </td>
                                        <td>
                                            @pro.WorkersInMe.Count
                                        </td>
                                        <td>
                                            @Html.ActionLink("Finalize", "FinalizeProject", "Display", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                                            @Html.ActionLink("Details", "DetailsProject", "Display", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}