@model List<ManagementSystemVersionTwo.Models.Project>
@{
    ViewBag.Title = "ViewAllProjects";
}
<div>
    @using (Html.BeginForm())
    {
    <div class="row">
        <p style=" padding: 6px; margin-top: 8px; margin-right: 16px; border: none; font-size: 14px;" class="col-sm-3">
            Search Project by Title:@Html.TextBox("title", "", new { list = "browsers", @class = "" })

            <datalist id="browsers">
                @foreach (var item in ViewBag.Names)
                {
                    <option value="@item" />
                }
            </datalist>
        </p>
        <p style=" padding: 6px; margin-top: 8px; margin-right: 16px; border: none; font-size: 14px;" class="col-sm-3">
            Order By : @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "" })
        </p>
        <p style=" padding: 6px; margin-top: 8px; margin-right: 16px; border: none; font-size: 14px;" class="col-sm-3">
            See Projects in @Html.DropDownList("depID", new SelectList(ViewBag.DepartmentOptions, "Value", "Text"), "All", new { @class = "" }) Departments
        </p>
        <p style=" padding: 6px; margin-top: 8px; margin-right: 16px; border: none; font-size: 14px;" class="col-sm-2">
            <input type="submit" value="Search" />
            @Html.ActionLink("Reset", "ViewAllProjects", "Display", new { @class = "btn btn-info" })
        </p>
    </div>
    }
</div>
<div class="card">
    <div class="card-body">
        <h3 class="views-headings">Projects</h3>
        <p class="views-comments">Here you can view all Projects in your Department.</p>
        <a href="@Url.Action("CreateProject", "Project" )" style="font-size: 12px;" class="btn btn-info btn-fw">Add Project</a>
        <table class="table table-striped">
            <thead>
                <tr class="row">
                    <th class="col-1">
                        Title
                    </th>
                    <th class="col-2">
                        Description
                    </th>
                    <th class="col-2">
                        Start Date
                    </th>
                    <th class="col-2">
                        End Date
                    </th>
                    <th class="col-1">
                        Status
                    </th>
                    <th class="col-1">
                        Workers
                    </th>
                    <th class="col-2">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pro in Model)
                {
                    <tr class="row">
                        <td style="overflow:hidden" class="col-1">
                            @pro.Title
                        </td>
                        <td style="overflow:hidden" class="col-2">
                            @pro.Description
                        </td>
                        <td style="overflow:hidden" class="col-2">
                            @pro.StartDate
                        </td>
                        <td style="overflow:hidden" class="col-2">
                            @pro.EndDate
                        </td>
                        <td style="overflow:hidden" class="col-1">
                            @if (pro.Finished)
                            {
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                            }
                            @if (!pro.Finished && pro.EndDate > DateTime.Now)
                            {
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            }
                            @if (!pro.Finished && pro.EndDate < DateTime.Now)
                            {
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            }
                        </td>
                        <td class="col-md-1">
                            @pro.WorkersInMe.Count
                        </td>
                        <td class="col-md-2">
                            @Html.ActionLink("Edit", "EditProject", "Project", new { id = pro.ID }, new { @class = "btn-sm-project btn-info btn-fw" })
                            @Html.ActionLink("Delete", "DeleteProject", "Project", new { id = pro.ID }, new { @class = "btn-sm btn-sm-project btn-info btn-fw" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>