@model List<ManagementSystemVersionTwo.Models.Department>
@{
    ViewBag.Title = "Departments";
}
<div>
    <a href="@Url.Action("CreateDepartment", "Department" )" style="font-size: 12px;" class="btn btn-info btn-fw">Add New Department</a>
</div>
<br/>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="col-lg-6 grid-margin stretch-card">
            <div style="margin: auto;" class="card">
                <div class="card-body">
                    <h3 class="views-headings">Departments</h3>
                    <p class="views-comments">Here you can view all the departments of the company.</p>
                    <hr />
                    @using (Html.BeginForm())
                    {
                        <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
                            <div class="p-2 bd-highlight">
                                <p>Search By City: @Html.TextBox("searchString", "", new { list = "cities", @class = "uploaded-text" })</p>
                                <datalist id="cities">
                                    @foreach (var item in ViewBag.Cities)
                                    {
                                        <option value="@item"></option>
                                    }
                                </datalist>
                            </div>
                            <div class="p-2 bd-highlight">
                                <p>Order by: @Html.DropDownList("sort", new SelectList(ViewBag.SortByCity, "Value", "Text"), "", new { @class = "uploaded-text" })</p>
                            </div>
                            <div class="p-2 bd-highlight">
                                <input class="btn btn-info btn-fw" type="submit" value="Search" />
                                @Html.ActionLink(" ", "ViewAllDepartments", "Display", new { }, new { @class = "resbut fa fa-times" })

                            </div>
                        </div>
                        <hr />
                    }
                    
                    <table class="all-departments table table-striped">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Address</th>
                                <th>Employees</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var department in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(d => department.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(d => department.Adress)
                                    </td>
                                    <td class="text-primary">
                                        @department.WorkersInThisDepartment.Count
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "DetailsDepartment", "Display", new { id = department.ID }, new { @class = "btn btn-info btn-fw" })

                                        @Html.ActionLink("Edit", "EditDepartment", "Department", new { id = department.ID }, new { @class = "btn btn-info btn-fw" })

                                        @Html.ActionLink("Delete", "DeleteDepartment", "Department", new { id = department.ID }, new { @class = "btn btn-info btn-fw" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                </div>
        </div>
    </div>
</div>




