@model IEnumerable<ManagementSystemVersionTwo.Models.Worker>

@{
    ViewBag.Title = "ViewAllWorkersList";
}
<div>
    <a href="@Url.Action("Register", "Account" )" style="font-size: 12px;" class="btn btn-info btn-fw">Create New Worker</a>
    <div style="margin:4px; float:right" class="btn btn-info btn-fw"><a href="@Url.Action("ViewAllWorkersList" , "Display")">List View</a></div>
    <div style="margin:4px; float:right" class="btn btn-inverse-info btn-fw  btn btn-info btn-fw"><a href="@Url.Action("ViewAllWorkers" , "Display")">Card View</a></div>
</div>
<hr />
@using (Html.BeginForm())
{
    <div class="row">
        <p class="col-md-4">
            Search Worker By Fullname:@Html.TextBox("searchName", "", new { list = "browsers", @class = "" })
            <datalist id="browsers">
                @foreach (var item in ViewBag.Names)
                {
                    <option value="@item" />
                }
            </datalist>
        </p>
        <p class="col-md-3">
            Order By : @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "" })
        </p>
        <p class="col-md-4">
            See @Html.DropDownList("roleSpec", new SelectList(ViewBag.RoleOptions, "Value", "Text"), "All", new { @class = "" }) in @Html.DropDownList("depID", new SelectList(ViewBag.DepartmentOptions, "Value", "Text"), "All", new { @class = "" }) Departments
        </p>
        <p class="col-md-1">
            <input class="btn-inverse-info btn-fw" type="submit" value="Search" />
            @Html.ActionLink(" ", "ViewAllWorkers", "Display", new { @class = "fa fa-refresh" })
        </p>
    </div>
}
<hr />

<div class="card">
    <div class="card-body">
        <h3 class="views-headings">Employees</h3>
        <p class="views-comments">Here you can view all the Employees working for the Company.</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Department.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th></th>
            </tr>

            @foreach (var worker in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => worker.Department.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.BankAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => worker.Salary)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditWorker", "Worker", new { userID = worker.ApplicationUser.Id }, new { @class = "" }) |
                        @Html.ActionLink("Delete", "DeleteWorker", "Worker", new { userID = worker.ApplicationUser.Id }, new { @class = "" }) |
                        @Html.ActionLink("Details", "DetailsWorker", "Display", new { id = worker.ApplicationUser.Id }, new { @class = "" })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>