@model List<ManagementSystemVersionTwo.Models.Department>
@{
    ViewBag.Title = "ViewAllDepartments"; 
}

<div class="row">
    <div class="col-12 grid-margin">
        <div style="margin: auto;" class="col-lg-6 grid-margin stretch-card">
            <div style="margin: auto;" class="card card-department">
                <div class="card-body">
                    <h3 style="text-align: center;">Departments View</h3>

                    <div>
                        <a href="@Url.Action("CreateDepartment", "Department" )" style="font-size: 12px;" class="btn-add-add">Create New Department</a>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>City</th>
                                <th>Address</th>
                                <th>Employees</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var department in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(d => department.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(d => department.Adress)
                                    </td>
                                    <td class="text-primary">
                                        5
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditDepartment", "Department", new { id = department.ID }, new { @class = "btn btn-primary details1" })
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteDepartment", "Department", new { id = department.ID }, new { @class = "btn btn-primary details1" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
    </div>





