@model IEnumerable<ManagementSystemVersionTwo.Models.Worker>

@{
    ViewBag.Title = "ViewAllWorkersList";
}
@if (ViewBag.Supervisor)
{
<div>
    <a href="@Url.Action("ViewAllWorkers" , "Display",new { viewType = "List",searchName=ViewBag.Parameters[0],orderBy=ViewBag.Parameters[1],roleSpec=ViewBag.Parameters[2],depID=ViewBag.Parameters[3] })" style="margin:4px; float:right" class="btn btn-inverse-info btn-fw">List View</a>
    <a href="@Url.Action("ViewAllWorkers" , "Display")" style="margin:4px; float:right" class="btn btn-info btn-fw">Card View</a>
</div>
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="col-lg-6 grid-margin stretch-card">
                <div style="margin: auto;" class="card">
                    <div class="card-body">
                        <h3 class="views-headings">Employees</h3>
                        <p class="views-comments">Here you can view all the Employees working for the Company.</p>
                        <hr />
                        @using (Html.BeginForm())
                        {
                            <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                <div class="p-2 bd-highlight">
                                    Search Worker By Fullname: @Html.TextBox("searchName", "", new { list = "browsers", @class = "uploaded-text" })
                                    <datalist id="browsers">
                                        @foreach (var item in ViewBag.Names)
                                        {
                                            <option value="@item" />
                                        }
                                    </datalist>
                                </div>
                                <div class="p-2 bd-highlight">
                                    Order By: @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "uploaded-text" })
                                </div>
                                <div class="p-2 bd-highlight">
                                    See @Html.DropDownList("roleSpec", new SelectList(ViewBag.RoleOptions, "Value", "Text"), "All", new { @class = "uploaded-text" })
                                </div>
                                <div class="p-2 bd-highlight">
                                    <input class="btn btn-info btn-fw" type="submit" value="Search" />
                                    @Html.ActionLink(" ", "ViewAllWorkers", "Display", new { @class = "resbut fa fa-times" })
                                </div>
                            </div>
                        }
                        <hr />
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfBirth)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BankAccount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Salary)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var worker in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Department.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.LastName)
                                    </td>
                                    <td>
                                        @worker.DateOfBirth.ToString("dd-MM-yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.BankAccount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Salary)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Details", "DetailsWorker", "Display", new { id = worker.ApplicationUser.Id }, new { @class = "btn btn-info btn-fw" })
                                        @Html.ActionLink("Calendar", "Calendar", "Worker", new { id = worker.ID }, new { @class = "btn btn-info btn-fw" })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div>
        <a href="@Url.Action("Register", "Account")" style="font-size: 12px;" class="btn btn-info btn-fw">Create New Worker</a>
        <a href="@Url.Action("ViewAllWorkers", "Display", new { viewType = "List" })" class="btn btn-inverse-info btn-fw" style="margin:4px; float:right">List View</a>
        <a href="@Url.Action("ViewAllWorkers", "Display", new { searchName=ViewBag.Parameters[0],orderBy=ViewBag.Parameters[1],roleSpec=ViewBag.Parameters[2],depID=ViewBag.Parameters[3]})" style="margin:4px; float:right" class="btn btn-info btn-fw  btn btn-info btn-fw">Card View</a>
    </div>
    <br />
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="col-lg-6 grid-margin stretch-card">
                <div style="margin: auto;" class="card">
                    <div class="card-body">
                        <h3 class="views-headings">Employees</h3>
                        <p class="views-comments">Here you can view all the Employees working for the Company.</p>
                        <hr />
                        @using (Html.BeginForm())
                        {
                            <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
                                <div class="p-2 bd-highlight">
                                    Search Worker By Fullname: @Html.TextBox("searchName", "", new { list = "browsers", @class = "uploaded-text" })
                                    <datalist id="browsers">
                                        @foreach (var item in ViewBag.Names)
                                        {
                                            <option value="@item" />
                                        }
                                    </datalist>
                                </div>
                                <div class="p-2 bd-highlight">
                                    Order By: @Html.DropDownList("orderBy", new SelectList(ViewBag.SortOptions, "Value", "Text"), "None", new { @class = "uploaded-text" })
                                </div>
                                <div class="p-2 bd-highlight">
                                    See @Html.DropDownList("roleSpec", new SelectList(ViewBag.RoleOptions, "Value", "Text"), "All", new { @class = "uploaded-text" }) in @Html.DropDownList("depID", new SelectList(ViewBag.DepartmentOptions, "Value", "Text"), "All", new { @class = "uploaded-text" }) Departments
                                </div>
                                <div class="p-2 bd-highlight">
                                    <input class="btn btn-info btn-fw" type="submit" value="Search" />
                                    @Html.ActionLink(" ", "ViewAllWorkers", "Display", new { @class = "resbut fa fa-times" })
                                </div>
                            </div>
                        }
                        <hr />
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Department.City)
                                </th>
                                <th>
                                   First Name
                                </th>
                                <th>
                                    Last Name
                                </th>
                                <th>
                                   Date Of Birth
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Gender)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                   Bank Account
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Salary)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>

                            @foreach (var worker in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Department.City)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.LastName)
                                    </td>
                                    <td>
                                        @worker.DateOfBirth.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.BankAccount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => worker.Salary) &euro;
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "EditWorker", "Worker", new { userID = worker.ApplicationUser.Id }, new { @class = "btn btn-info btn-fw" })
                                        @Html.ActionLink("Delete", "DeleteWorker", "Worker", new { userID = worker.ApplicationUser.Id }, new { @class = "btn btn-info btn-fw" })
                                        @Html.ActionLink("Details", "DetailsWorker", "Display", new { id = worker.ApplicationUser.Id }, new { @class = "btn btn-info btn-fw" })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
